.button-mobile {
  @apply mt-0;

  .button__border {
    @apply w-full h-[106px] bg-[100%_100%] bg-no-repeat mt-[-41px];

    background-image: url('../../../../assets/images/goButton/go-btn-border.png');
    background-size: cover;
  }
  .dice-number-mobile {
    @apply w-[71px] h-[71px] flex justify-center absolute right-[-62px] top-[24px] z-[51] bg-[100%_100%] bg-no-repeat;

    background-size: cover;
  }

  .dice-content-mobile-mask {
    @apply absolute w-[48px] h-[48px] ml-[16px] mt-[2px] rounded-[22px] z-[10];

    background-color: rgb(82 48 11 / 30%);
  }

  .dice-content-mobile {
    @apply w-[44px] h-[44px] ml-[7px];
  }

  .dice-content-mobile-press {
    @apply mt-[3px];
  }

  .button__icon {
    @apply relative z-50;

    .button__icon__loading {
      @apply aspect-[1/1] relative;

      .button__icon__loading__bounce1,
      .button__icon__loading__bounce2 {
        @apply w-full h-full rounded-full bg-[#fff] opacity-[0.6] absolute top-0 left-0;

        animation: loading-bounce 2s infinite ease-in-out;
      }

      .button__icon__loading__bounce2 {
        animation-delay: -1s;
      }
    }
    svg {
      @apply w-full h-auto;
    }
  }
}

.btn-mobile {
  @apply bg-no-repeat bg-contain w-[150px] h-[120px] z-[50] left-[99px] top-[-6px] absolute;

  .btn-mobile-mask {
    @apply absolute w-[126px] h-[100px] top-0 left-[24px] rounded-[38px] z-[10];

    background-color: rgb(82 48 11 / 30%);
  }
}

.btn-pc {
  @apply bg-[100%_100%] bg-no-repeat bg-cover w-[446px]  h-[170px] ml-[-30px];

  .btn-pc-mask {
    @apply absolute w-[400px] h-[142px] top-[0px] left-[34px] rounded-[48px] z-[10];

    background-color: rgb(82 48 11 / 30%);
  }
}

.button {
  /* @apply pb-[78px] mt-0 w-[398px] h-[142px]; */
  @apply pb-[78px] mt-0 flex;
  .button__icon {
    @apply relative z-50;
    svg {
      @apply w-full h-auto;
    }
    .button__icon__loading {
      @apply aspect-[1/1] relative;

      .button__icon__loading__bounce1,
      .button__icon__loading__bounce2 {
        @apply w-full h-full rounded-full bg-[#fff] opacity-[0.6] absolute top-0 left-0;

        animation: loading-bounce 2s infinite ease-in-out;
      }

      .button__icon__loading__bounce2 {
        animation-delay: -1s;
      }
    }
  }
  .dice-number {
    @apply w-[149px] h-[153px] bg-[100%_100%] bg-no-repeat flex-shrink-0 relative;

    background-size: cover;
  }

  .dice-content-mask {
    @apply w-[115px] h-[124px] absolute top-[10px] right-[11px] rounded-[42px] z-[10];

    background-color: rgb(82 48 11 / 30%);
  }

  .dice-content {
    @apply w-[105px] h-[100px] absolute top-[6px] right-[16px];
  }

  .dice-content-press {
    @apply top-[16px];
  }

  .dice-number:not(:first-child) {
    @apply ml-[-8px];
  }

  @keyframes loading-bounce {
    0%,
    100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
}
