.depositWrap {
  margin-bottom: 24px;
  :global {
    .swap-input-wrapper .swap-input-row2 .select-token-wrap {
      background-color: #A15A1C;
    }
    .swap-input-wrapper {
      border: 1px solid #A15A1C;
    }
    .swap-input-wrapper .swap-input-row2 .show-token-wrap {
      background-color: #F7EDD5;
      pointer-events: none;
    }
    .swap-input-wrapper .swap-input-row3 .show-max {
      border-color: #953D22;
      color: #953D22;
    }
    .swap-panel-wrapper .swap-token-switch-wrap .swap-token-switch-btn {
      display: none
    }
    .swap-panel-wrapper .swap-btn-wrap .common-button {
      @apply bg-[var(--confirm-btn-bg)] text-center font-paytone text-xl leading-[48px] text-white;
      span {
        @apply font-paytone;
      }

      box-shadow: 0 3px 1px 0 #D18A4C inset, 0 6px 0 0 #773E0C;
      text-shadow: 0 0 1px #953D22;

      &:hover {
        @apply bg-[var(--confirm-btn-bg)] text-white;
      }
      &.btn-error {
        @apply bg-[#E74B44];
        &:hover {
          @apply bg-[#E74B44] text-white;
        }
      }
      &.btn-tip {
        @apply bg-[#ACA9A0] opacity-100;
        &:hover {
          @apply bg-[#ACA9A0] text-white;
        }
      }
    }
    .swap-panel-wrapper .swap-price-swap-info .icon-edit-icon {
      path {
        fill: #773E0C;
      }
      .awk-common-tool-tip {
        &.ant-tooltip-open {
          .common-question {
            background-image: none;
          }
        }
      }
    }
    .swap-price-swap-info {
      .common-tooltip {
        .ant-tooltip-arrow {
          &::before {
            background-color: #E8D1AE;
          }
        }
        .ant-tooltip-inner {
          background-color: #E8D1AE;
        }
      }
    }
  }
}
