.inputForm {
  :global {
    .web2design-qrcode-icon,
    .divider-center.portkey-ant-divider-with-text,
    .social-icon-group-wrapper {
      @apply hidden;
    }

    .web2design-qrcode-icon,
    .divider-center.portkey-ant-divider-with-text,
    .login-primary-btn {
      @apply mb-[24px];
    }

    .backleft-icon {
      @apply hidden;
    }
  }
}

.qrcodeBox {
  :global {
    .back-icon-wrapper {
      @apply !hidden;
    }

    .backleft-icon {
      @apply !hidden;
    }
  }
}

.loginContainer {
  @apply flex h-full w-full flex-col items-center justify-end  !bg-cover bg-center bg-no-repeat px-10 text-base text-white  md:justify-start md:pt-[46.7vh];
  .more {
    @apply z-20 pb-4 font-fonarto underline md:pb-0 text-[20px] md:text-[32px] text-white;
  }
  .loginBtn,
  .unlockBtn,
  .loginBtnYellow {
    @apply relative flex items-center z-20 mb-6 h-14 w-full justify-center rounded-[30px] bg-[#5D42FF] px-5 font-fonarto md:h-[82px] md:w-[430px] md:justify-end md:rounded-[38px] md:px-8 md:text-[32px] md:leading-6;

    box-shadow: 0 3px 1px 0 #6F6CFF inset, 0 4px 0 0 #1D089B;
    text-shadow: 0 0 1px #4B35D0;
  }
  .unlockBtn {
    @apply mb-[94px] bg-[#A15A1C] md:mb-0 md:mt-[3.7vh] md:justify-center;
    
    box-shadow: 0 3px 1px 0 #D18A4C inset, 0 4px 0 0 rgb(133 66 8 / 60%);
    text-shadow: 0 0 1px #953D22;

  }
  .loginBtnYellow {
    @apply bg-[#00A6EF];

    box-shadow: 0 3px 1px 0 #29BDFF inset, 0 4px 0 0 #005E88;
    text-shadow: 0 0 1px #0090D0;
  }
}

.loginBtnIcon,
.loginBtnBlueIcon {
  @apply text-2xl md:left-8 md:text-[44px] flex items-center;
  path {
    @apply fill-white;
  }
}

.loginMethodModal {
  @apply !w-[750px] rounded-[32px];
  :global {
    .ant-modal-content {
      @apply !rounded-[32px];
    }
    .ant-modal-body {
        @apply !px-[32px] !py-[82px] text-[32px] leading-6 border-[16px] border-[#9A531F] rounded-[32px];
    }
  }
  .loginBtn {
    @apply relative !mb-5 mx-[97px] !h-[77px] flex items-center !justify-center !rounded-[39px] !px-10 bg-[var(--confirm-btn-bg)] font-fonarto text-white;
  }
  .drawerHeader {
    @apply !mb-[40px] text-center font-fonarto !text-[32px] leading-6 text-[#953D22];
  }
  .drawer__close {
    @apply absolute !right-[26px] !top-[37px] !text-[30px];
  }
  .loginBtnBlueIcon {
    @apply left-[44.7px];
    path {
      @apply fill-white;
    }
  }
}

.loginMethodDrawer {
  .loginBtn {
    @apply relative pl-4 mb-4 flex h-14 items-center justify-center rounded-[36px] bg-[var(--confirm-btn-bg)] font-fonarto text-white;
  }
}

.loginMethodDrawer,
.loginMethodModal {
  @apply text-base;
  :global {
    .ant-drawer-header,
    .ant-modal-header,
    .ant-modal-footer {
      @apply hidden;
    }
    .ant-drawer-content {
      @apply rounded-tl-2xl rounded-tr-2xl;
    }
    .ant-modal-content {
      @apply overflow-auto rounded-2xl bg-[var(--color-main)] text-base  text-white;
    }
    .ant-drawer-wrapper-body {
      @apply overflow-auto bg-[var(--color-main)] text-base  text-white;
    }
    .ant-drawer-body,
    .ant-modal-body {
      @apply relative px-10 pb-6;
    }
    .ant-drawer-content-wrapper {
      @apply min-h-[392px];
    }
  }

  .loginBtn {
    box-shadow: 0 3px 1px 0 #D18A4C inset, 0 4px 0 0 rgb(133 66 8 / 60%);
    text-shadow: 0 0 1px #953D22;
  }
  .drawerHeader {
    @apply mb-8 text-center font-fonarto text-2xl leading-6 text-[#953D22];
  }
  .drawer__close {
    @apply absolute right-3 top-3;
    svg {
      @apply w-6 h-6;
    }
  }
}
